<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overwatch Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-1 text-center">Welcome to the Overwatch Chat</h1>
        <div>
    
            <div class="text-center">
                <a href="/profile" class="btn btn-sm m-2"id="signup">Home</a>
                <a href="/logout" class="btn btn-sm m-2"id="login">Logout</a>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center flex-column">
        <h3>Chat</h3>
        <div class="border messagesContainer">
            
            <ul class="messages">
                <% if (user._id) { %>
                <% for(var i=0; i<overwatch.length; i++) {%>
                    <li class="message list">
                        <span class="font-weight-light time"><%=overwatch[i].time%></span>
                        <span class="nameStyle"><%= overwatch[i].name%>:</span>
                    </li>
                    <li class="message list">
                        <span class="msg"><%= overwatch[i].msg %></span>
                        <span><%= overwatch[i].arrowUp %></span>
                        <span><i class="far fa-arrow-alt-circle-up" id="arrowUp"></i></span>
                        <span><i class="far fa-arrow-alt-circle-down" id="arrowDown"></i></span>
                        <% if (user._id) { %>
                        <span><i class="far fa-trash-alt"></i></span>
                        <% } %>
                    </li>
                    <% } %>
            </ul>
        </div>


            <form action="/overwatch" method="POST">
                <input type="text" placeholder="message" name="msg">
                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            </form>
            <div>

            </div>
    </div>
    <% } %>

        <script src="overwatch.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>