<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warzone Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-1 text-center">Welcome to the Warzone Chat</h1>
        <div>
    
            <div class="text-center">
                <a href="/profile" class="btn btn-info btn-sm m-2">Home</a>
                <a href="/logout" class="btn btn-dark btn-sm m-2">Logout</a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center border">
        <ul class="messages w-25" style="list-style: none;">
            <h3>Chat</h3>
            <% for(var i=0; i<warzone.length; i++) {%>
                <li class="message">
                    <span><strong><%= warzone[i].name%>:</strong></span>
                    <span class="msg"><%= warzone[i].msg %></span>
                    <span><i class="far fa-arrow-alt-circle-up"></i></span>
                    <span><i class="far fa-arrow-alt-circle-down"></i></span>
                    <span class="font-weight-light time"><%=warzone[i].time%></span>
                </li>
                <% } %>
        </ul>


        <% if (user._id) { %>
            <form action="/warzone" method="POST">
                <input type="text" placeholder="message" name="msg">
                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            </form>
            <div>

            </div>
    </div>
    <% } %>

        <script src="main.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>