.list{
    list-style: none;
}

.time{
    font-size: x-small;
}

.msg{
    font-size:large;
}

.valorant{
    background-image: url('img/valorant.png');
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 3%;
}

.warzone{
    background-image: url('img/warzone.png');
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 3%;
}

.apex{
    background-image: url('img/apex.png');
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 3%;
}

.csgo{
    background-image: url('img/csgo.png');
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 3%;
}

.overwatch{
    background-image: url('img/overwatch.png');
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 3%;
}

.chat-btn{
    box-shadow: 2px 2px 2px 2px black;
}

i{
    cursor: pointer;
}

#signup{
    background: rgb(255,139,34);
    color: white;
}

#login{
    background: rgb(54,77,99);
    color: white;
}

#arrowUp{
    color: rgb(255,139,34); 
}

#arrowDown{
    color: rgb(54,77,99);
}

.nameStyle{
    font-weight: bold;
}

.messages{
    overflow:none;
    height: 300px;
    width: 400px;
    list-style-position: inside;
    word-wrap: break-word;
}


.messagesContainer{
    width: 430px;
    overflow-y: scroll;
    border-radius: 2%;
}

.messagesContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.messagesContainer::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.messagesContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(255,139,34);
}